{{define "body"}}
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/"><img src="/favicon-96x96.png" class="pure-menu-heading-icon"> User Client Info</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="/visits" class="pure-menu-link">Recent Visits ({{ .Count }})</a></li>
        </ul>
    </div>
</div>


<div class="content-wrapper-no-splash">
    <div class="content">
        <h2 class="content-head is-center">Recent Visits ({{ .Count }})</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1">
            {{ $showExternalIP := .ShowExternalIP}}
                <table id="recent_visits_table" class="sortable pure-table pure-table-full-width" >
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>IP Address</th>
                      <th>Hostname</th>
                      {{ if $showExternalIP }}
                      <th>External IP Address</th>
                      {{ end }}
                      <th>Browser</th>
                    </tr>
                  </thead>
                  <tbody id="recent_visits_table_body">
                {{ range $key, $value := .Data }}

                    <tr>
                      <td>{{ $key | dateFormat "2006-01-02 15:04:05" }}</td>
                      <td>{{ $value.Object.IP }}</td>
                      <td>{{ $value.Object.Hostname }}</td>
                      {{ if $showExternalIP }}
                      <td>{{ $value.Object.ExternalIP }}</td>
                      {{end}}
                      <td>{{ $value.Object.Browser }}</td>
                    </tr>

                {{ end }}
                  </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="footer l-box is-center">
        Created using <a href="https://golang.org/">Go</a> @ <a href="http://www.imperial.edu/">Imperial Valley College</a>.
    </div>

</div>

<script src="/assets/js/sorttable.js"></script>
<script>
  sorttable.reverse(document.getElementById("recent_visits_table_body"));
  setTimeout(location.reload.bind(location), 60000);
</script>
{{end}}
